.App {

  background-color: grey;
  min-height: 100vh;
}

.c {
  color: white;
}

.conta {
  text-align: center;
}

.conatainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.for-label {
  font-family: "roboto";
  font-weight: 500;
  color: white;
}

.cardss {
  border: 2px solid white;
  border-radius: 4px;
  margin: 20px;
  color: black;
}

.c {
  border-radius: 5px;
}

.for-input {
  border-radius: 4px;
  height: 40px;
  width: 250px;
  border: none;
}

.for-area {
  border-radius: 5px;
  border: none;
}